/* fill viewport height*/
body,
html {
	height: 100%;


}
body {
	/*background-image: url(images/nature-forest.jpeg);
	background-repeat: no-repeat;*/
	padding: 0;
	margin: 0;
	
}

img {
	max-width: 100%;
	height: auto;
}



.container {
	position: relative;
	height: 100vh;
	background-image: url(images/nature-forest.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%; 

}

.header {
	

}



	

h1 {
	color: black;
	font-size: 110px;
	font-family: 'Poiret One', Courier;
	margin-top: 5%;
	text-align: center;
	/*border-top: solid black 1px;*/
	margin-right: 10%;
	margin-left: 10%;
	padding-top: 4%;
	width: calc(100%-20px);

	

	
}



.links {
	text-align: center;
	font-family: 'Poiret One', Courier;
	margin-top: 5%;



}


 .links a {
 	text-decoration: none;
 	color: black;
 	font-size: 30px;
 	padding-right: 40px;

 }


 a:hover {
 	color: white;
 	
 }





 
.me {
	height: 800px;
	width: 100%;
	padding-top: 30px;
	/*background-color: #EDF0DF;*/


}


.text{
	margin-right: 10%;
	font-family: 'Poiret One';
	font-size: 20px;
	margin-left: 50%;
	max-height: 100%;
	margin-top: 11%;
	 


}



.photo {
	width: 300px;
	max-width: 100%;
	height: auto;
	display: inline;
	margin-left: auto;
	margin-right: 0;
	float: left;
	margin-left: 8%;


}

h2 {
	color: black;
	font-size: 90px;
	font-family: 'Poiret One', Courier;
	margin-top: 30px;
	text-align: center;
	border-top: solid black 1px;
	margin-right: 10%;
	margin-left: 10%;
	padding-top: 3%;
}



p {
	margin-top: 10px;
}





.work {
	height: 100%;
	padding-top: 30px;
	background-color: white;
	position: relative;
	margin-right: 5%;
	margin-left:5%;
	
}





.unicef {

	height: 150px;
	width: 150px;
	border-radius: 50%;
	padding: 30px;
	margin: 26px;
	text-align: center;
	display: inline-block;
	/*background-image: url(images/uniceflogo.jpeg);*/

}


.river {
	
	height: 150px;
	width: 150px;
	border-radius: 50%;
	padding: 30px;
	margin: 26px;
	text-align: center;
	display: inline-block;
	/*background-image: url(images/applogo.jpeg);*/
}

.michelle{

	height: 150px;
	width: 150px;
	border-radius: 50%;
	padding: 30px;
	margin: 26px;
	text-align: center;
	display: inline-block;
	/*background-image: url(images/fikalogo.png);*/
}

.transdev {

	height: 150px;
	width: 150px;
	border-radius: 50%;
	padding: 30px;
	margin: 26px;
	text-align: center;
	display: inline-block;
	/*background-image: url(images/transdevlogo.jpeg);*/
	

}

img {
	
	border-radius: 50%;
	padding: 30px;



	

}


.next {
	display: inline-block;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	padding: 30px;
	text-align: center;
	border: solid black 2px;
	font-family: 'Poiret One', Courier;
	color: white;
	background-color: #000;

}



.contact {
	height: 100%;
	width: 100%;
	background-color: white;
	padding-top: 30px;
	float: left;
	
	

}

.one {
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'Poiret One';
	font-size: 20px;
	text-align: 60%;
	padding-bottom: 50px;
	padding: 50px;
}


.mail a {
	text-decoration: none;
	color: black;

}



footer {
	border-bottom: solid black 1px;
	margin-right: 10%;
	margin-left: 10%;
	position: relative;
	margin-top: 12%;
	margin-bottom: 10%;
}

@media only screen and (max-width: 478px) {
	html {
		font-size: px;
	}
	.unicef{
		width: 10%;
		height: 10%;
		background-size:cover;
	}
	.river {
		width: 10%;
		height: 10%;
		background-size:cover;
	}

	.transdev {
		width: 10%;
		height: 10%;
		background-size:cover;
	}
	.michelle {
		width: 10%;
		height: 10%;
		background-size:cover;

	}
}
